{% extends "base.html" %}
{% block css %}
    {{ block.super }} <link href="/static/grumblr/css/signin.css" rel="stylesheet">
    {{ block.super }} <link href="/static/grumblr/css/starter-template.css" rel="stylesheet">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}